<!-- <div class="home">
    <div class="wk-header">
       <p class="wk-title p-4">W<span class="ht-small-title">E KNO</span>W</p>
    </div>
    <div class="wk-header1"></div>
  </div> -->
  <div fxLayout="row">
    <!-- <div fxFlex="17">
      <div class="side-nav">
        <ul *ngFor="let item of navbtns1|keyvalue" class=" wk-nav">
          <li class="wk-nav-link" (click)="navigate(item.value)">{{item.key}}</li>
        </ul>
      </div>
    </div> -->
    <div fxFlex="80">        
    <div fxLayout="row" class="" style="margin-top: 15px;">
      <div fxFlex="80" fxFlexOffset="10">
        <div class="wk-card">
          <div class="wk-card-header py-1">Search Criteria</div>
        </div>
        <div class="border p-2">
          <div fxLayout="row">
            <div fxFlex="13" *ngIf="admin" class="text-right"><label for="" class="f-13 bold mr-1" >Route Name :</label></div>
            <div fxFlex="20"  *ngIf="admin" >
              <select class=" form-control form-control-sm f-12 px-1">
                <option  *ngFor="let x of dropDown">{{x.searchTypes}}</option>
              </select>
            </div>
            <div fxFlex="13" class="text-right"><label for="" class="f-13 bold mr-1">Search Type :</label></div>
            <div fxFlex="20">
              <select class=" form-control form-control-sm f-12 px-1">
                <option  *ngFor="let x of dropDown">{{x.searchTypes}}</option>
              </select>
            </div>
            <div fxFlex="30" fxFlexOffset="3"><input type="text" class=" form-control form-control-sm f-12 px-1"></div>
          </div>
          <div fxLayout="row" class="mt-4">
            <div fxFlex="30" fxFlexOffset="35">
              <button class="wk-button px-3 py-1">Search</button>
              <button class="wk-button px-3 py-1 ml-4">Clear</button>
              
            </div>
            <div fxFlex="30">
              <span class="forgt mb-0 link-text" [routerLink]="['/singup']">Add new DeliveryBoy</span>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="wk-table mt-3 customer-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Employee Name</th>
                  <th>Employee Mobile</th>
                  <th>Employee Email</th>
                  <th>Address</th>
                  <th>Documents</th>                  
                  <th>Select Route</th>  
                  <th>Assign Route</th>                
                </tr>
              </thead>
              <tbody>
               <tr *ngFor="let item of employeeList|keyvalue"  id="Details{{item.key}}">
                 <td>{{item?.value?.lastname+"."+item?.value?.firstname}}</td>
                 <td>{{item?.value?.phone}}</td>
                 <td>{{item?.value?.mail}}</td>
                 <td>{{item?.value?.address}}</td>
                 <td class="text-link" (click)="getLocation(item?.value?.docs)">Docs</td>  
                 <td>
                   <select> 
                                                           
                    <option *ngFor="let route of routes" [value]="route?.id">{{route?.name}}</option>
                   </select>
                 </td>  
                 <td><button class="btn btn-primary">Assign</button></td>           
               </tr>
              </tbody>
            </table>
        </div>        
    </div>
  </div>