<div fxFlex="83">
    <div fxLayout="row" class="" style="margin-top: 150px;" *ngIf="true">
      <div fxFlex="60" fxFlexOffset="20">
        <div class="wk-card">
          <div class="wk-card-header py-1">Log IN</div>
        </div>
        <div class="border p-2">
          <div fxLayout="row">
            <div fxFlex="22" class="text-right"><label for="" class="f-13 bold mr-1">User ID</label></div>
            <div fxFlex="28">
            <input type="text" class=" form-control form-control-sm f-12 px-1" placeholder="Email or Mobile">
            </div>
            <div fxFlex="40" fxFlexOffset="5">
                <div fxFlex="22" class="text-right"><label for="" class="f-13 bold mr-1">Password</label></div>
                <input type="text" class=" form-control form-control-sm f-12 px-1" placeholder="********"></div>
          </div>
          <div fxLayout="row" class="mt-4">
            <div fxFlex="30" fxFlexOffset="35">
              <button class="wk-button px-3 py-1" >LogIn</button>
              <button class="wk-button px-3 py-1 ml-4">Create New</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
