

<!-- dashboard end -->



<!-- <div class="row">
  <div class="col-md-12">
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
      <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
      <a href="#" class="w3-bar-item w3-button">Link 1</a>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">Link 3</a>
    </div>
    <div class="bg-primary">
      <button class="w3-btn btn-primary w3-xlarge" onclick="w3_open()">☰</button>
      <div class="bg-primary">
        <h1>My Page</h1>
      </div>
    </div>
  </div>
</div>  -->
<router-outlet></router-outlet>